 <h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>  

<button id='submit' value='submit'>Post Data</button>
<div id='info'>The Data</div>

<div id='crypto'>
<input type='hidden' name='cryptophoto'>
    <div id='cp_widget' style='margin: 10px auto;width:300px'>Loading...</div>
    <input type='submit' value='Continue'>
</div>

<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script>
// hides crypto div
$(document).ready(function(){
  $('#crypto').hide(0);  //or do it through css
  });

$('#submit').click(function(event) {
	// event.preventDefault(); // prevents page from refreshing
	$.ajax({
		type: "POST",
		url: 'http://cryptophoto.com/api/get/session',
		data: { 
			publickey: "06f980e1e4442b60676610f2dfb54e6c", 
			uid : "1f4da2087b4cde81fccad9f6e9b56b03ab3c2536", 
			time: "1472239794", 
			signature: "d1c2924b4d52107b8535c18ed7fec43d1ef32cc8"
		} ,
		success: function (data) {
			$('#crypto').show()
			let parsedData = data.split(/\n/)
			

			// add sd script
			let script = document.createElement('script')
			script.setAttribute('src', 'https://CryptoPhoto.com/api/token?sd=' + parsedData[1])
			document.head.appendChild(script)

			// add tv script
			// let script2 = document.createElement('script')
			// script2.setAttribute('src', 'https://cryptophoto.com/api/tv?key=66551793516cc975d90c663fe85ecaca&sid=' + parsedData[1])
			// script2.setAttribute('async', 'true')
			// document.head.appendChild(script2)

			// add challenge script
			let script3 = document.createElement('script')
			script3.setAttribute('src', 'https://CryptoPhoto.com/api/challenge?sd=' + parsedData[1])
			document.head.appendChild(script3)

			// post request
			$.ajax({
				type: "POST",
				url: 'http://cryptophoto.com/api/get/session',
				data: { 
					publickey: "06f980e1e4442b60676610f2dfb54e6c", 
					uid : "1f4da2087b4cde81fccad9f6e9b56b03ab3c2536", 
					time: "1472239794", 
					signature: "d1c2924b4d52107b8535c18ed7fec43d1ef32cc8"
			} ,
			success: function (data) { 
				console.log("OH YO")
			}})
		}
	})
})
</script>