
<h2 class="page-header welcome">Welcome to your dashboard</h2>

<p class="empty">Looking pretty empty right now</p>
<p class="empty1">...</p>

<nav class="flex-container">
          <ul class="nav nav-pills pull-bottom-mid bebas-36">
              <li role="presentation"><a href="/users/logout" id="a2">Logout</a></li>
             </ul>
</nav>

