<h2 class="page-header" style="color:white">Account Login</h2>
<form method="post" action="/users/login" name="myForm" id="myForm">
  <div class="form-group">
    <label style="color:white">Username</label>
    <input type="text" id="username" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label style="color:white">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
   <button type="submit" onclick="return false" id="prelogin"> Login </button>

  <div id='crypto' class="box blurred-bg tinted">
<input type='hidden' name='cryptophoto' id='cryptophoto'>
    <div id='cp_widget' style='margin: 10px auto;width:600px'>Loading...</div>
    <p style="color:red" align="center">Press the correct image to continue...</p>
</div>
</form>
<br>
<code style="display:block;white-space:pre-wrap">Usage:
<li>On Chrome, allow unsafe scripts</li>
<li>Register for a new user account</li>
<li>Login and the CryptoPhoto registration wizard will show up. Follow the steps to set up the app & token on your phone.</li>
<li>Now simply login with your user credentials and the CryptoPhoto Challenge widget will pop up. Tap your unique photo on the CryptoPhoto app to securely login using multi-factor 2FA two-step security!</li></code>
