<div class="wrapper">
<div class="main">


{{!-- <code style="display:block;white-space:pre-wrap">Usage:
<li>On Chrome, allow unsafe scripts</li>
<li>Register for a new user account</li>
<li>Login and the CryptoPhoto registration wizard will show up. Follow the steps to set up the app & token on your phone.</li>
<li>Now simply login with your user credentials and the CryptoPhoto Challenge widget will pop up. Tap your unique photo on the CryptoPhoto app to securely login using multi-factor 2FA two-step security!</li></code> --}}

{{!-- elephant --}}
<section class="elephant">
<div class="page_container">
<nav>
          <ul class="nav nav-pills pull-top-right bebas-36">
            {{#if user}}
              <li role="presentation"><a href="/">Dashboard</a></li>
              <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}
              <li role="presentation"><a id="login" href="#">Login</a></li>
              <li role="presentation"><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>     
</nav>
<div class="seamless">Seamless. Secure. Safe. Logging in can't get easier.</div>
<div class="how">Scroll down to see how</div>
</div>
</section>
{{!-- end:elephant --}}

{{!-- deer --}}
<section class="deer">
<div class="page_container">
<nav>
          <ul class="nav nav-pills pull-top-right bebas-36">
            {{#if user}}
              <li role="presentation"><a href="/">Dashboard</a></li>
              <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}
              <li role="presentation"><a id="login1" href="#">Login</a></li>
              <li role="presentation"><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>
</nav>


<div class="usage container">
<p class="bebas-42">How do you log in with CryptoPhoto?</p>
  <ol>
  <li>On Chrome, allow unsafe scripts</li>
<li>Register for a new user account on this site</li>
<li>Follow the steps provided to setup the app and token on your phone</li>
<li>Enter the user credentials provided in the app into the website. The cryptophoto widget will pop up and you can then choose the matching photo</li>
  </ol>
</div>


</div>
</section>
{{!-- end:deer --}}

{{!-- star --}}
<section class="star">
<div class="page_container">

<p class="account-login">Account Login</p>
<form method="post" action="/users/login" name="myForm" id="myForm">
  <div class="form-group">
    <label>
    <input type="text" id="username" name="username" placeholder="Username">
    <span>Username</span>
    </label>
  </div>
  <div class="form-group">
    <label>
    <input type="password" name="password" placeholder="Password">
    <span>Password</span>
    </label>
  </div>
  <input type="submit" value="Login" onclick="return false" id="prelogin">
   {{!-- <button type="submit" onclick="return false" id="prelogin"> Login </button> --}}

  <div id='crypto' class="box blurred-bg tinted">
<input type='hidden' name='cryptophoto' id='cryptophoto'>
    <div id='cp_widget' style='margin: 10px auto;width:500px'>Loading...</div>
</form>

</div>
</section>
{{!-- end:star --}}


</div>
</div>